@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root {
  --color-one: #036a8a;
  --color-one-faint: #627d85;
  --color-two: #3ab1d6;
  --color-two-faint: #9cc9d6;
  --color-three: #eea5bf;
  --color-four: #eee;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--color-four);
}

textarea {
  resize: none;
}

ul li {
  list-style: none;
}

.w300 {
  font-weight: 300;
}

.w600 {
  font-weight: 600;
}

.preventDefaultStyle {
  color: black;
  text-decoration: none;
}

.header {
  padding: 10px 25px;
  background-color: var(--color-one);
}

.header__brandLogo {
  font-size: 25px;
  color: var(--color-three);
}

.title {
  text-align: center;
  margin: 10px 0;
  color: var(--color-one);
}

.subtitle {
  text-align: start;
  margin-bottom: 15px;
  color: var(--color-three);
}

.genericButton {
  margin: 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--color-one);
  color: white;
  cursor: pointer;
}

.genericButton:hover {
  background-color: var(--color-two);
}

.genericButton-disabled {
  margin: 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--color-one-faint);
  color: var(--color-four);
  cursor: default;
}

.paper {
  background: white;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.main {
  padding: 0 150px;
}

.pageButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.pages {
  padding-top: 50px;
  padding: 50px 50px 0 50px;
}

.aboutItem {
  margin: 40px 0;
}

.blogItem {
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px 10px;
  margin: 20px 0;
}

.blogItem__title {
  margin-bottom: 10px;
  font-size: 28px;
  color: var(--color-two);
}

.blogItem__stars {
  margin-bottom: 10px;
}

.blogItem__desc {
  font-size: 18px;
  margin-bottom: 10px;
}

.blogItem__read {
  border: 0;
  background-color: transparent;
  color: var(--color-one);
  text-decoration: underline;
}

.pagesList {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.pagesList__list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  text-align: center;
}

.pagesList__list__index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  color: var(--color-one);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.pagesList__list__index-unactive {
  cursor: pointer;
  background-color: white;
}

.pagesList__list__index-unactive:hover {
  background-color: var(--color-two);
  color: var(--color-four);
}

.pagesList__list__index-active {
  cursor: default;
  color: white;
  background-color: var(--color-three);
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.formInput__label {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: var(--color-one);
}

.formInput__input {
  border-style: none;
  line-height: 1.7rem;
  font-family: 'Montserrat';
  font-size: 1.2rem;
}
